<IfModule mod_rewrite.c>
  RewriteEngine On
  RewriteBase /agent/analytics/live/

  RewriteCond %{REQUEST_FILENAME} !-f
  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteRule ^ index.html [L]
</IfModule>
